@import "~bootstrap/scss/bootstrap.scss";

#semaforo {
    width: 10px;
    height: 70px;
    margin-left: 82px;
}

#container {
    background-color: black;
    width: 65px;
    margin: auto;
    height: 183px;
    padding: 7px;
    border-radius: 10px;
}

.luz {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 50%;
}

.roja {
    background-color: red;
}

.amarilla {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.seleccionado {
    box-shadow: #f3ffcc 0px 0px 50px 20px;
}


